# Database (NeonDB PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_biXn6Kzk9hwl@ep-crimson-poetry-ah7ekory-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"

# Cloudinary (for image uploads)
CLOUDINARY_CLOUD_NAME="dwk2lfkfi"
CLOUDINARY_API_KEY="977718941457576"
CLOUDINARY_API_SECRET="-Hv6k3tlN76Jz1q9mPidqxpTWKo"